body {
    background: #c2dbff;
    font-family: "Nunito", sans-serif;
}

.small-text {
  font-size: 0.8rem;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: black;
    font-size: 1.5rem;
}

#mainNavbar .nav-link:hover {
    color: #0e6efd;
}

#mainNavbar .navbar-brand {
    color: #0e6efd;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: #c2dbff;
    transition: background 500ms;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #0e6efd;
}

@media (max-width: 576px) {
    #mainNavbar .nav-link {
      font-size: 1rem;
    }
}