body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}

.links li {
  display: inline-block;
}

img {
  width: 25vw;
  height: 25vh;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #000;
  object-fit: cover;
  object-position: center;
}

header {
  width: 95vw;
  height: 5vh;
}

main {
  overflow: scroll;
  width: 100vw;
  height: 90vh;
  background-color: #fff;
}

footer {
  width: 100vw;
  height: 5vh;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #fff;
}

main a {
  color: #000;
}

footer a {
  color: #fff;
}

main * {
  max-width: 95vw;
}

p {
  margin: 2vh auto;
}

#projects {
  margin: 0 auto;
}

.project {
  margin: 3vh auto;
}

h2 {
  text-align: center;
}

.project-description {
  padding: 2px;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 3px;
  z-index: 1;
  right: 0;
}

.dropdown-content li {
  padding: 5px;
  list-style: none;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu:hover .dropdown-button {
  background-color: #333;
}


/* Breakpoints from Responsive Design lesson*/
/* Smallest devices (portrait phones, 575px and below*/
@media screen and (max-width: 575px){
  #projects {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
  }

  .one {
    grid-area: a;
  }
  
  .two {
    grid-area: b;
  }
  
  .three {
    grid-area: c;
  }
  
  .four {
    grid-area: d;
  }

  img {
    margin: 0 auto;
  }

  .project {
    width: 40vw;
    display: grid;
    grid-template-areas:
    "e"
    "g"
    "h"
    "f";
  }

  .project-title {
    grid-area: e;
    color: #000;
    text-decoration: none;
  }

  .project-image {
    grid-area: g;
    margin: 0 auto;
  }

  .project-github {
    grid-area: h;
    color: #000;
    text-decoration: none;
  }

  .project-description {
    grid-area: f;
  }

  h1 {
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  #projects {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
  }

  .one {
    grid-area: a;
  }
  
  .two {
    grid-area: b;
  }
  
  .three {
    grid-area: c;
  }
  
  .four {
    grid-area: d;
  }

  img {
    margin: 0 auto;
  }

  .project {
    width: 40vw;
    display: grid;
    grid-template-areas:
    "e"
    "g"
    "h"
    "f";
  }

  .project-title {
    grid-area: e;
    color: #000;
    text-decoration: none;
  }

  .project-image {
    grid-area: g;
    margin: 0 auto;
  }

  .project-github {
    grid-area: h;
    color: #000;
    text-decoration: none;
  }

  .project-description {
    grid-area: f;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #projects {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
  }

  .one {
    grid-area: a;
  }
  
  .two {
    grid-area: b;
  }
  
  .three {
    grid-area: c;
  }
  
  .four {
    grid-area: d;
  }

  img {
    margin-left: 2vw;
  }

  .project {
    width: 40vw;
    display: grid;
    grid-template-areas:
    "e g"
    "h g"
    "f g";
  }

  .project-title {
    grid-area: e;
    color: #000;
    text-decoration: none;
  }

  .project-image {
    grid-area: g;
    margin: 0 auto;
  }

  .project-github {
    grid-area: h;
    color: #000;
    text-decoration: none;
  }

  .project-description {
    grid-area: f;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #projects {
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
  }

  .one {
    grid-area: a;
  }
  
  .two {
    grid-area: b;
  }
  
  .three {
    grid-area: c;
  }
  
  .four {
    grid-area: d;
  }

  img {
    margin: 0 auto;
  }

  .project {
    width: 40vw;
    display: grid;
    grid-template-areas:
    "e"
    "g"
    "h"
    "f";
  }

  .project-title {
    grid-area: e;
    color: #000;
    text-decoration: none;
  }

  .project-image {
    grid-area: g;
    margin: 0 auto;
  }

  .project-github {
    grid-area: h;
    color: #000;
    text-decoration: none;
  }

  .project-description {
    grid-area: f;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #projects {
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
  }

  .one {
    grid-area: a;
  }
  
  .two {
    grid-area: b;
  }
  
  .three {
    grid-area: c;
  }
  
  .four {
    grid-area: d;
  }

  img {
    margin: 0 auto;
  }

  .project {
    width: 40vw;
    display: grid;
    grid-template-areas:
    "e g"
    "h g"
    "f g";
  }

  .project-title {
    grid-area: e;
    color: #000;
    text-decoration: none;
  }

  .project-image {
    grid-area: g;
    margin: 0 auto;
  }

  .project-github {
    grid-area: h;
    color: #000;
    text-decoration: none;
  }

  .project-description {
    grid-area: f;
  }
}